.cont{
    margin-top: 50px;
    margin-left: 100px;
    margin-right:100px;
    color:green;
    
}
.spcbtn{}
.spcbtn:hover{
    width: 100%;
}

.cont3{

    margin-left: 100px;
    margin-right:100px;
    color:green;
    
}
