.chartsContainer{
  display: flex;
  padding:10px;
  flex-wrap: wrap;
  align-items: stretch;

}


.text{
  font-size: 15px;
}
.charts{
  padding:10px;
  font-size: 15px;
 
  width:300px;
  height: 300px;
 

}
@media  (max-width: 400px) { 
.charts{font-size: 80%;}
.text{font-size: 50%;}

}



@media (max-width:600px){
  .charts {
    
    font-size: 100%;
}
   .text{font-size: 60%;}


}
@media (max-width:1000px){
  .charts {
    
    font-size: 100%;
}
   .text{font-size: 80%;}


}

